---
import PencilIcon from '@/icons/PencilIcon'
import TrophyIcon from '@/icons/TrophyIcon'

interface Props {
    img : string
    company : string
    role : string
    period : string
    tasks : string[]
    achievements : string[]
    training : string
    others : {
        titleResponsabilities: string,
        titleAchievements: string
        titleTraining: string
    }
    className? : string
}

const { img, company, role, period, tasks, achievements, training, others, className } = Astro.props
---

<article class={className}>
    <header class="article-header flex flex-col xxs:grid text-center xxs:text-left">
        <div class="photo relative mx-auto mt-3 mb-5 xxs:ml-2 xxs:mb-0 min-w-20 min-h-20 max-w-20 max-h-20">
            <div class="back-img absolute inset-0 bg-[#cbe0ff] dark:bg-[#010b1a]"></div>
            <img src={img} alt=`${company} logo` class="relative z-1">
        </div>
        <h3 class="title text-3xl uppercase font-semibold">{company}</h3>
        <h4 class="subtitle mt-2 text-xl uppercase font-semibold">{role}</h4>
        <small class="period text-md font-semibold">{period}</small>
    </header>
    <hr class="my-5 border-2 border-[#cbe0ff] dark:border-[#010b1a]"/>
    <p class="mt-5 font-semibold uppercase">
        <PencilIcon className='w-6 h-6 mr-2 inline-block' filled/>{others.titleResponsabilities}
    </p>
    <ul class="list-disc mt-3 ml-14">
        {
            tasks.map(item => (
                <li set:html={item}></li>
            ))
        }
    </ul>
    <p class="mt-5 font-semibold uppercase">
        <TrophyIcon className='w-6 h-6 mr-2 inline-block' filled/>{others.titleAchievements}
    </p>
    <ul class="list-disc mt-3 ml-14">
        {
            achievements.map(item => (
                <li set:html={item}></li>
            ))
        }
    </ul>
    <p class="mt-5"><span class="uppercase font-semibold">{others.titleTraining}:</span> {training}</p>
</article>

<style>
    .photo {
        grid-area: photo;
    }

    .title {
        grid-area: title;
    }

    .subtitle {
        grid-area: subtitle;
    }

    .period {
        grid-area: period;
    }

    .article-header {
        grid-template-areas:
            "photo title"
            "photo subtitle"
            "photo period"
        ;
        grid-template-columns: 120px auto;
    }

    .back-img {
        animation: rotate .5s ease .4s forwards;
    }
</style>
