---
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header.astro';
import '@fontsource-variable/jost';
import type { Translations } from '@/others/types';

interface Props {
	title: string;
	description: string;
	language: string;
	translations: Translations
}

const { title, description, language, translations } = Astro.props;
---

<!doctype html>
<html lang={language}>
	<head>
		<script 
			async 
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2419707164621577"
     		crossorigin="anonymous">
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}favicon.svg` />
		<link rel="canonical" href="http://www.adriapulido.dev/" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content="https://github.com/user-attachments/assets/664d99e5-ec92-4398-84b2-1491ef7e4ce5" />
		<meta property="og:description" content={description} />
		<meta name="google-adsense-account" content="ca-pub-2419707164621577">
		<title>{title}</title>
		<script type="application/ld+json" is:inline>
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"name": "Adrià Pulido",
				"url": "https://www.adriapulido.dev",
				"jobTitle": "Fullstack Developer",
				"sameAs": [
					"https://www.linkedin.com/in/adriapulido/",
					"https://github.com/AdjePG"
				],
				"description": "Desarrollador fullstack con 5 años de experiencia creando proyectos innovadores utilizando tecnologías como React, Angular, Spring Boot y Node.js."
			}
		</script>
		<ViewTransitions />
	</head>
	<body>
		<Header language={language} translations={translations} />
		<main class="custom-scrollbar flex flex-col flex-start items-center dark:text-white p-4 mx-auto border-box w-full opacity-0">
			<div class="my-auto w-full max-w-[1100px]">
				<slot />
			</div>
		</main>
	</body>
</html>

<style is:global>
	body {
		background: light-dark(#f3f7ff,#20395f);
		color-scheme: light dark;
		display: grid;
		font-family: 'Jost Variable', system-ui, sans-serif;
		grid-template-areas: 
			"header content";
		grid-template-columns: 250px auto;
		grid-template-rows: 1fr;
		height: 100dvh;
		margin: 0;
		min-width: 350px;
		overflow: hidden;
	}

	main {
		animation: fade-in .5s ease .3s forwards;
		grid-area: content;

		&.custom-scrollbar {
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-color: #cbe0ff #00000000;
			scrollbar-width: thin;
		}
	}

	img {
		user-select: none;
	}

	@media (max-width: 767px) {
		body {
			grid-template-areas: 
				'content'
				'header';
			grid-template-columns: 1fr;
			grid-template-rows: auto 64px;
		}
	}

	@media (prefers-color-scheme: dark) {
		main {
			&.custom-scrollbar {
				scrollbar-color: #010b1a #00000000;
			}
		}
	}

	@media (max-width: 539px) {
		body {
			grid-template-rows: auto 104px;
		}
	}

	@keyframes fade-in {
		0% {
			transform: translateY(100px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes rotate {
		100% {
			opacity: 1;
			transform: rotate(-12deg);
		}
	}
</style>
